@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@keyframes blinking {
    50% {
        opacity: 0;
    }
}

.animate-blinking {
    animation: blinking 1s step-start 0s infinite;
}