.color-selector {

	position: relative;

	.color {
		cursor: pointer;
		width: 25px;
		height: 25px;
        border: 1px solid #eee;
        border-radius: 10px;
	}

	.chrome-picker {
		position: absolute;
		left: 0;
		bottom: calc(100% + 10px);
		z-index: 9;
	}

}
