.implementation-code {

	flex-basis: 320px;
	font-size: .8em;
	padding: 5px;
	border-radius: 10px;

	@media (min-width: 640px) {
		margin-left: 10px;
	}

	.btns {

		text-align: right;

		button {

            margin-bottom: 20px;
            font-size: 1.2em;
            text-transform: uppercase;
            background: transparent;
            border: none;
            color: #bbb;
            transition: .2s ease;
            cursor: pointer;

            &:hover {
                color: #999;
                background: #f5f5f5;
            }

            &:focus {
                outline: 0;
            }

		}

	}

	.language-markup {

		width: 260px;
		background: transparent;

		@media (min-width: 640px) {
			width: 380px;
		}

	}

}
